{% extends 'bootstrap.tmpl' %}
{% load staticfiles %}

{% block title %}Read a Session Manager session file{% endblock %}

{% block content %}
    <div class="container-fluid">
      <h2>Read a Session Manager session file</h2>
      <section>
        <noscript>
          <h4>Notice: Javascript is required for this page's functionality.</h4>
        </noscript>
      </section>
      <div id="explanation">
        <p>It doesn't look like <a href="https://addons.mozilla.org/en-US/firefox/addon/session-manager/">Session Manager</a> will be making the transition to Firefox Quantum.</p>
        <p>So I made this page to allow Session Manager users to recover their tabs from their saved sessions. All the parsing is done in Javascript, and <strong>none of your session data will leave your computer</strong>. You can inspect <a href="{% static 'misc/js/sessionrecover.js' %}">the code</a> yourself to confirm. It's pretty small and simple.</p>
        <p>Session Manager stored your sessions in your Firefox profile folder. <a href="https://support.mozilla.org/en-US/kb/profiles-where-firefox-stores-user-data">Here</a> are instructions for locating your profile folder.</p>
        <p>The sessions are in a "sessions" folder inside your profile folder, in files ending in ".session".</p>
        <p>This has only been tested in Firefox (version 52), so I can't make any guarantees that it'll work in any other browser. But then, this is all for Firefox users anyway, isn't it?</p>
        <p>But if this doesn't work for you, <strong>please let me know</strong>! You can email me at <span id="email_address"><a href="http://www.google.com/recaptcha/mailhide/d?k=010uLnmHSgqd8xNzpsl2V8kQ==&amp;c=Vnt9AV6d7I30V9EcD6rSpA==" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\075010uLnmHSgqd8xNzpsl2V8kQ\75\75\46c\75Vnt9AV6d7I30V9EcD6rSpA\75\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">n...</a>@psu.edu</span> or just tweet <a href="https://twitter.com/NickStoler">@NickStoler</a>.</p>
      </div>
      <div class="form_bit">
        <label>Select a .session file to read</label>
      </div>
      <div class="form_bit">
        <input type="file" id="selection"></input>
      </div>
      <div class="form_bit">
        <label>Then hit "Read session"!</label>
      </div>
      <div class="form_bit">
        <input type="submit" id="submit" value="Read session">
      </div>

      <div id="stderr">
      </div>

      <div id="after-parsing">
        <div class="form_bit">
          <p>Download the list of windows and tabs:</p>
          <input type="submit" id="download" value="Download">
        </div>
        <div id="session">
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'misc/js/sessionrecover.js' %}?via=html"></script>
{% endblock %}
