{% extends 'bootstrap.tmpl' %}
{% load staticfiles %}

{% block title %}Read a Session Manager session file{% endblock %}

{% block content %}
    <div class="container-fluid">
      <h2 id="title">Session Recover</h2>
      <section>
        <noscript>
          <h4>Notice: Javascript is required for this page's functionality.</h4>
        </noscript>
      </section>
      <div class="panel" id="explanation">
        <div class="panel-heading">
          <h3>What is this?</h3>
        </div>
        <div class="panel-body">
          <p>It doesn't look like the <a href="https://web.archive.org/web/20170809213608/https://addons.mozilla.org/en-US/firefox/addon/session-manager/">Session Manager</a> extension will be making the transition to Firefox Quantum.</p>
          <p>So I made this page to allow Session Manager users to recover their tabs from their saved sessions. All the parsing is done in Javascript, and <strong>none of your session data will leave your computer</strong>. You can inspect <a href="{% static 'misc/js/sessionrecover.js' %}">the code</a> yourself to confirm. It's pretty small and simple.</p>
          <p>Session Manager stored your sessions in your Firefox profile folder. <a href="https://support.mozilla.org/en-US/kb/profiles-where-firefox-stores-user-data">Here</a> are instructions for locating your profile folder.</p>
          <p>The sessions are in a "sessions" folder inside your profile folder, in files ending in ".session".</p>
          <p>This has only been tested in Firefox (version 52), so I can't make any guarantees that it'll work in any other browser. But then, this is all for Firefox users anyway, isn't it?</p>
          <p>But if this doesn't work for you, <strong>please let me know</strong>! You can find my email <a id="email_address" href="{% url 'misc:captcha' 'email' %}">here</a> or just tweet <a href="https://twitter.com/NickStoler">@NickStoler</a>.</p>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3>Read your Session Manager sessions</h3>
        </div>
        <div class="panel-body">
          <div id="choose-file">
            <h4>Select a .session file</h4>
            <label class="btn btn-default btn-file">
              <span id="file-text">Browse..</span>
              <input type="file" id="selection"></input>
            </label>
          </div>
          <div id="stderr">
          </div>
          <div id="after-parsing">
            <h4>Download the list of windows and tabs</h4>
            <input type="submit" id="download" value="Download" class="btn btn-default">
            <div id="session">
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'misc/js/sessionrecover.js' %}?via=html"></script>
{% endblock %}
