{% extends 'bootstrap.tmpl' %}
{% load staticfiles %}

{% block title %}Mess with your cookies!{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'misc/css/setcookie.css' %}?via=html">
{% endblock %}

{% block content %}
    <div class="container-fluid">
    <section>
      <noscript>
        <h4>Notice: Javascript is required for this page's functionality.</h4>
      </noscript>
    </section>
    <section class="panel panel-shrink">
      <div class="panel-heading">
        <h4>Your current cookies:</h4>
      </div>
      <table id="currentCookies" class="panel-body table table-bordered table-condensed table-hover">
        <tbody>
        </tbody>
      </table>
    </section>
    <div class="clearfix-ish"></div>
    <section class="panel panel-shrink">
      <div class="panel-heading">
        <h4>Edit a cookie:</h4>
      </div>
      <div class="panel-body">
        <div class="input">
          <label for="cookieName">Cookie name:</label>
          <input id="cookieName" class="form-control" name="cookieName" type="text" value="{{ default_name }}">
        </div>
        <div class="input">
          <label for="cookieValue">Cookie value:</label>
          <input id="cookieValue" class="form-control" name="cookieValue" type="text" value="{{ default_value }}">
        </div>
        <div class="buttons">
          <input id="set" class="btn btn-default" type="submit" value="Set">
          <input id="delete" class="btn btn-default" type="submit" value="Delete">
        </div>
      </div>
    </section>
    </div>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'misc/js/setcookie.js' %}?via=html"></script>
{% endblock %}
