/***** Links *****/

#link_list {
	margin: 10px 0;
	padding: 20px 10px;
	background-color: #FFFFFF;
	border: 1px solid rgb(200,200,200);
}

.link {
	list-style-type: none;
	margin: 10px;
}

.link h3 {
	display: inline;
	font-size: 125%;
	font-weight: normal;
}

.link p {
	margin: 5px;
	display: inline;
	
	/* IE 7 inline-block hack */
	zoom: 1;
	*display: inline;
}

#links form footer {
	margin: 20px 0;
}

#links footer h4 {
	margin: 5px;
	margin-left: 47px;
}

#links footer label {
	width: 40px;
	float: left;
	text-align: right;
	margin-right: 7px;
}

#links footer input[type="submit"] {
	margin-left: 47px;
}

input.url, input.title {
	width: 648px;
}

#main #add_link h2 {
	margin-left: 87px;
}

#main #add_link label {
	width: 80px;
	float: left;
	text-align: right;
	margin-right: 7px;
}

#add_link input[type="submit"] {
	margin-left: 87px;
}

/***** Email *****/

.to, .from, .subject {
	width: 648px;
}

.field textarea {
	height: 200px;
	width: 648px;
}

.instructions {
	padding: 0 0 8px 83px;
	width: 659px;
}