*.pyc
__pycache__
.venv
protected_settings.py
db.sqlite*
static/img/
static/media/
*.sublime-project
*.sublime-workspace
1.0/protect/*.ini
1.0/protect/*.tsv
*.log
*.log.gz
static/css
static/js
static/.well-known
