*.pyc
__pycache__
*.lnk
*.dir
.venv
protected_settings.py
db.sqlite*
static/img/
static/media/
*.sublime-project
*.sublime-workspace
1.0/protect/*.ini
1.0/protect/*.tsv
*.log
*.log.gz
static/.well-known
static/myadmin
static/notepad
static/pages
static/editpages
static/traffic
static/wikihistory
static/ET
static/admin
static/horcrux
static/worktime
static/misc/js
static/misc/css
