[submodule "assemblo"]
	path = static/assemblo
	url = https://github.com/NickSto/assemblo.git
[submodule "django/wikihistory"]
	path = wikihistory
	url = https://github.com/NickSto/wikihistory.git
[submodule "ET"]
	path = ET
	url = https://github.com/NickSto/ET.git
[submodule "utillib"]
	path = utillib
	url = https://github.com/NickSto/utillib.git
[submodule "horcrux"]
	path = horcrux
	url = https://github.com/NickSto/horcrux.git
[submodule "worktime"]
	path = worktime
	url = https://github.com/NickSto/worktime.git
[submodule "uptest"]
	path = uptest
	url = https://github.com/NickSto/uptest.git
[submodule "covid"]
	path = covid
	url = https://github.com/NickSto/covid19.git
[submodule "wordle"]
	path = wordle
	url = https://github.com/NickSto/wordle.git
