{% extends 'bootstrap.tmpl' %}
{% load staticfiles %}

{% block title %}{{ page }} - Confirm - Notepad{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'notepad/css/notepad.css' %}?via=html">
{% endblock %}

{% block content %}
    <div id="main" class="confirm container-fluid">
      <a id="top"></a>
      <h2 id="title">Notepad</h2>

      <div class="buttons">
        <a class="btn btn-default" href="{% url 'notepad:view' page %}#note_{{ note.id }}">Back to {{ page }}</a>
      </div>
      <section id="confirm" class="panel panel-default">
        <div class="panel-heading">
          <h3>Are you sure?</h3>
        </div>
        <div class="panel-body">
          {% if notes|length == 1 %}
            <p>Delete this note?</p>
          {% else %}
            <p>Delete these notes?</p>
          {% endif %}
        </div>
      </section>

      <form id="notes_container" name="delete_notes" method="post" action="{% url 'notepad:delete' page %}" >
        {% csrf_token %}
        {% include 'notepad/noteslist.tmpl' with type='confirm' %}
        <div class="ruhuman">
          <label for="site">Site:</label>
          <input type="text" name="site">
        </div>
        <input type="submit" class="btn btn-default" value="Delete">
      </form>
    </div>
{% endblock content %}
