{% extends 'bootstrap.tmpl' %}
{% load staticfiles %}

{% block title %}{{ page }} - editing note {{ note.id }} - Notepad{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'notepad/css/notepad.css' %}?via=html">
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <a id="top"></a>
      <h2 id="title">Notepad</h2>

      <section id="add_note">
        <form name='edit_note' method='post' action="{% url 'notepad:edit' page %}" >
          {% csrf_token %}
          <input type="hidden" name="page" value="{{ page }}">
          <input type="hidden" name="note" value="{{ note.id }}">
          <div class="ruhuman">
            <label for="site">Site:</label>
            <input type="text" name="site">
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <label for="content" class="panel-title">Edit Note</label>
            </div>
            <textarea name="content" class="panel-body" rows="{{ lines }}">{{ note.content }}</textarea>
          </div>
          <input type="submit" class="btn btn-default" value="Submit">
          <a class="btn btn-default" href="{% url 'notepad:view' page %}#note_{{ note.id }}">Back to {{ page }}</a>
        </form>
      </section>
    </div>
{% endblock content %}
