{% extends 'bootstrap.tmpl' %}
{% load static %}

{% block title %}{{ page }} - editing note {{ note.id }} - Notepad{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'notepad/css/notepad.css' %}?via=html">
{% endblock %}

{% block content %}
    <div id="main" class="editform container-fluid">
      <a id="top"></a>
      <h2 id="title">Notepad</h2>

      {% if warning %}
        <section id="notice">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Warning</h3>
            </div>
            <div class="panel-body">
              <p>{{ warning }}</p>
            </div>
          </div>
        </section>
      {% endif %}

      <div class="buttons">
        <a class="btn btn-default" href="{% url 'notepad:view' page %}#note_{{ note.id }}">Back to {{ page }}</a>
      </div>
      <section id="submit_note">
        <form name="submit_note" method="post" action="{% url 'notepad:edit' page %}" >
          {% csrf_token %}
          <input type="hidden" name="page" value="{{ page }}">
          <input type="hidden" name="note" value="{{ note.id }}">
          <div class="panel panel-default">
            <div class="panel-heading">
              <label for="content" class="panel-title">Edit Note</label>
            </div>
            <textarea name="content" class="panel-body" rows="{{ rows }}">{{ note.content }}</textarea>
            {% include 'traffic/brunner.tmpl' %}
          </div>
          <input type="submit" class="btn btn-default" value="Submit">
        </form>
      </section>

      <section id="notes_container">
        {% include 'notepad/noteslist.tmpl' with type='editform' %}
      </section>
    </div>
{% endblock content %}
