{% extends 'bootstrap.tmpl' %}
{% load staticfiles %}

{% block title %}{{ page }} - {{ action | title }} - Notepad{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'notepad/css/notepad.css' %}?via=html">
{% endblock %}

{% block content %}
    <div id="main" class="hideform container-fluid">
      <a id="top"></a>
      <h2 id="title">Notepad</h2>

      <div class="buttons">
        <a class="btn btn-default" href="{% url 'notepad:view' page %}#note_{{ note.id }}">Back to {{ page }}</a>
      </div>
      <section id="confirm" class="panel panel-default">
        <div class="panel-heading">
          <h3>Are you sure?</h3>
        </div>
        <div class="panel-body">
          {% if notes|length == 1 %}
            <p>{{ action | title }} this note?</p>
          {% else %}
            <p>{{ action | title }} these notes?</p>
          {% endif %}
        </div>
      </section>

      <form id="notes_container" name="hide_notes" method="post" action="{% url 'notepad:hide' page %}" >
        {% csrf_token %}
        {% include 'notepad/noteslist.tmpl' with type='hideform' %}
        <input type="hidden" name="action" value="{{ action }}">
        {% include 'traffic/brunner.tmpl' %}
        <input type="submit" class="btn btn-default" value="{{ action | title }}">
      </form>
    </div>
{% endblock content %}
