{% extends 'bootstrap.tmpl' %}
{% load staticfiles %}

{% block title %}Monitor - Notepad{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'notepad/css/notepad.css' %}?via=html">
{% endblock %}

{% block content %}
    <div id="main" class="monitor container-fluid">
      <a id="top"></a>
      <h2 id="title">Notepad</h2>

      <div class="buttons">
        <a class="btn btn-default" href="#bottom">To bottom</a>
        <a class="btn btn-default" href="{% url 'notepad:random' %}">Random page</a>
        <a class="btn btn-default" href="{% url 'notepad:monitor' %}{{ showdeleted_query_str }}">{% if showdeleted %}Hide{% else %}Show{% endif %} deleted</a>
      </div>

      <ul id="notes" class="list-group">
        <li class="list-group-item header">
          <h3 class="page-name">Currently existing pages</h3>
        </li>
        {% for page in pages %}
          {% if forloop.last %}
            <a id="bottom"></a>
          {% endif %}
          <li id="page_{{ page.id }}" class="note list-group-item">
            <pre class="content">{% if page.name %}<a href="{% url 'notepad:view' page.name %}">{{ page.name }}</a>{% else %}{{ page.name }}{% endif %}</pre>
            <div class="clearfix"></div>
          </li>
        {% empty %}
          <li class="note list-group-item">
            <div class="content">No pages!</div>
            <div class="clearfix"></div>
          </li>
        {% endfor %}
      </ul>

      <div class="buttons">
        <a class="btn btn-default" href="#top">To top</a>
        <a class="btn btn-default" href="{% url 'notepad:monitor' %}{{ showdeleted_query_str }}#bottom">{% if showdeleted %}Hide{% else %}Show{% endif %} deleted</a>
        <a class="btn btn-default" href="{% url 'misc:export' %}">Export database</a>
      </div>
    </div>
{% endblock content %}
