{% extends 'bootstrap.tmpl' %}
{% load staticfiles %}

{% block title %}Move notes - Notepad{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'notepad/css/notepad.css' %}?via=html">
{% endblock %}

{% block content %}
    <div id="main" class="moveform container-fluid">
      <a id="top"></a>
      <h2 id="title">Notepad</h2>

      <form name="move_notes" method="post" action="{% url 'notepad:move' page %}">
        <div class="buttons">
          <a class="btn btn-default" href="{% url 'notepad:view' page %}#note_{{ note.id }}">Back to {{ page }}</a>
        </div>
        <section id="confirm" class="panel panel-default">
          <div class="panel-heading">
            <h3>Move to a different page</h3>
          </div>
          <div class="panel-body">
            {% csrf_token %}
            {% if notes|length == 1 %}
              <p>Which page should it move to?</p>
            {% else %}
              <p>Which page should they move to?</p>
            {% endif %}
            <div>
              <label name="new_page" for="new_page">Page:</label>
              <input type="text" name="new_page">
            </div>
            <div class="buttons">
              <input type="submit" class="btn btn-default" value="Move">
            </div>
            <div class="ruhuman">
              <label for="site">Site:</label>
              <input type="text" name="site">
            </div>
          </div>
        </section>

        <section id="notes_container">
          <ul id="notes" class="list-group">
            <li class="list-group-item header">
              <h3 class="page-name">{{ page }}</h3>
            </li>
            {% for note in notes %}
              {% if forloop.last %}
                <a id="bottom"></a>
              {% endif %}
              <li id="note_{{ note.id }}" class="note list-group-item">
                <input type="hidden" name="note_{{ note.id }}" value="on">
                {% autoescape off %}
                  <pre class="content">{{ note.content_html }}</pre>
                {% endautoescape %}
                <div class="clearfix"></div>
              </li>
            {% empty %}
              <li class="note list-group-item">
                <div class="content">No notes selected!</div>
                <div class="clearfix"></div>
              </li>
            {% endfor %}
          </ul>
        </section>
      </form>
    </div>
{% endblock content %}
