{% extends 'html5boilerplate1.0.tmpl' %}
{% load staticfiles %}

{% block title %}{{ page }} - Notepad{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'notepad/css/notepad.css' %}?via=html">
{% endblock %}

{% block content %}
		<header>
			<h1 id="title">Notepad</h1>
			<p class="youarehere">Your current page name:
				<span class="page_name">{{ page }}</span>
			</p>
			<nav class="nav-options">
				<ul>
					<li class="randpage">
						Go to <a href="{% url 'notepad:random' %}">random page</a>
					</li>
					<li>
						Go to <a href="#bottom">bottom</a>
					</li>
				</ul>
			</nav>
		</header>
		
		<section id="notepad">
			<form name='delete_notes' method='post' action="{% url 'notepad:delete' %}">
				{% csrf_token %}
				<ul id="note_list">
				{% for note_id, content in notes %}
					{% if forloop.last %}
						<a id="bottom"></a>
					{% endif %}
					<li id="note_{{ note_id }}" class="note">
						<input type="checkbox" class="del_cb" name="note_{{ note_id }}">
						<div class="content">
							{% autoescape off %}
								{% for line in content %}
									<p>{{ line }}</p>
								{% endfor %}
							{% endautoescape %}
						</div>
					</li>
				{% empty %}
					<li class="note">
						<p>Nothing here yet!</p>
						<p>Try adding something with the form below!</p>
					</li>
				{% endfor %}
				</ul>
				
				<footer class="del_submit">
					<div class="hidden">
						<input type="text" name="page" value="{{ page }}">
					</div>
					<div class="ruhuman">
						<label for="site">Site:</label>
						<input type="text" name="site">
					</div>
					<h4>Delete selected notes:</h4>
					<input type="submit" value="Delete">
				</footer>
			</form>
		</section>
		
		<section id="add_note">
			<h2>Add a Note</h2>
			<form name='add_note' method='post' action="{% url 'notepad:add' %}" >
				{% csrf_token %}
				<div class="hidden">
					<input type="text" name="page" value="{{ page }}">
				</div>
				<div class="ruhuman">
					<label for="site">Site:</label>
					<input type="text" name="site">
				</div>
				<div class="field">
					<textarea name="content" rows='3'></textarea>
				</div>
				<input type="submit" value="Submit">
			</form>
		</section>
{% endblock content %}

{% block javascript %}
	<!-- <script src="{% static 'notepad/js/main.js' %}?via=html"></script> -->
{% endblock %}

