<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	
<!-- Thanks to HTML5 Boilerplate for the starting material: http://html5boilerplate.com -->
<!-- Almost all the comments are theirs. -->

	<title>{{ page }} - Notepad</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS: implied media="all" -->
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'notepad/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'notepad/css/notepad.css' %}">

	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<script src="{% static 'notepad/js/libs/modernizr-1.7.min.js' %}"></script>

 </head>

<body>

	<div id="container">
		<header>
			{{ navbar }}
		</header>
	
		<div id="main" role="main">
		<header>
			<h1 id="title">Notepad</h1>
			<p class="youarehere">Your current page name:
				<span class="page_name">{{ page }}</span>
			</p>
			<nav class="nav-options">
				<ul>
					<li class="randpage">
						Go to <a href="{% url 'notepad:random' %}">random page</a>
					</li>
					<li>
						Go to <a href="#bottom">bottom</a>
					</li>
				</ul>
			</nav>
		</header>
		
		<section id="notepad">
			<form name='delete_notes' method='post' action="{% url 'notepad:delete' %}">
				{% csrf_token %}
				<ul id="note_list">
<!-- FYI I plan on handling multi-line notes much better than the kludge of <br>'s. But to do it properly I have to figure out some issues with the server-side scripts. -->
				{% if notes %}
					{% for note in notes %}
						<li {% if note.id == bottom %}id="bottom" {% endif %}class="note">
							<input type="checkbox" class="del_cb" name="note_{{ note.id }}">
							<p>{{ note.content }}</p>
						</li>
					{% endfor %}
				{% else %}
					<li class="note">
						<p>Nothing here yet!</p>
						<p>Try adding something with the form below!</p>
					</li>
				{% endif %}
				</ul>
				
				<footer class="del_submit">
					<div class="hidden">
						<input type="text" name="page" value="{{ page }}">
					</div>
					<div class="ruhuman">
						<label for="site">Site:</label>
						<input type="text" name="site">
					</div>
					<h4>Delete selected notes:</h4>
					<input type="submit" value="Delete">
				</footer>
			</form>
		</section>
		
		<section id="add_note">
			<h2>Add a Note</h2>
			<form name='add_note' method='post' action="{% url 'notepad:add' %}" >
				{% csrf_token %}
				<div class="hidden">
					<input type="text" name="page" value="{{ page }}">
				</div>
				<div class="ruhuman">
					<label for="site">Site:</label>
					<input type="text" name="site">
				</div>
				<div class="field">
					<textarea name="content" rows='3'></textarea>
				</div>
				<input type="submit" value="Submit">
			</form>
		</section>
		</div>
	
		<footer>
			{{ navbar }}
		</footer>
	</div> <!--! end of #container -->

	<!-- JavaScript at the bottom for fast page loading -->

	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{% static 'notepad/js/vendor/jquery-1.5.1.min.js' %}"><\/script>')</script>

	<!-- page-specific JavaScript
	<script src="{% static 'notepad/js/main.js' %}"></script>
	-->

	<!-- mathiasbynens.be/notes/async-analytics-snippet -->
	<script>
		var _gaq=[["_setAccount","UA-23000656-2"],["_trackPageview"]];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
		g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
		s.parentNode.insertBefore(g,s)}(document,"script"));
	</script>

</body>
</html>
