#title {
	font-size: 225%;
	padding: 20px;
}

h3 {
	font-size: 140%;
}

.text {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.text > p {
	padding: 5px;
	font-size: 125%;
	text-indent: 25px;
}

.text ul {
	padding-left: 25px;
}

.text li p {
	padding: 0;
	font-size: 115%;
}

img.screenshot {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p.note {
	font-size: 100%;
	text-indent: 0;
}

.em {
	font-style: italic;
}