
/* IE10 viewport hack for Surface/desktop Windows 8 bug
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

.ruhuman {
  display: none;
}

.inline {
  display: inline;
}

#title {
  margin: 40px 0;
  text-align: center;
}

.list-group-item.header, .panel-heading {
  background-color: #f5f5f5;
}

.list-group-item.header > *, .panel-heading > * {
  margin-top: 10px;
}

.panel {
  border: 1px solid #ddd;
}

.panel-heading {
  border-bottom: 1px solid #ddd;
}

.panel-shrink {
  display: inline-block;
  width: auto;
}

td.name, th.name, tr.names {
  background-color: #f5f5f5;
}

th.name, tr.names > th {
  font-weight: normal;
}

.input {
  margin-top: 10px;
}

.input:first-child {
  margin-top: auto;
}

.buttons {
  margin-top: 10px;
}

.btn {
  margin-right: 6px;
  margin-bottom: 10px;
}

.btn-file input[type="file"] {
  display: none;
}
