
/* IE10 viewport hack for Surface/desktop Windows 8 bug
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

.inline {
  display: inline;
}

#title {
  margin: 40px 0;
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.list-group-item.header, .panel-heading {
  background-color: #f5f5f5;
}

.list-group-item.header > *, .panel-heading > * {
  margin-top: 10px;
}

.panel {
  border: 1px solid #ddd;
}

.panel-heading {
  border-bottom: 1px solid #ddd;
}

.panel-shrink {
  display: inline-block;
  width: auto;
}

td.name, th.name, tr.names {
  background-color: #f5f5f5;
}

th.name, tr.names > th {
  font-weight: normal;
}

.input {
  margin-top: 10px;
}

.input:first-child {
  margin-top: auto;
}

.buttons {
  margin-top: 10px;
}

.btn {
  margin-right: 6px;
  margin-bottom: 10px;
}

.btn-file input[type="file"] {
  display: none;
}

h5 {
  font-weight: 700;
}

code {
  color: #444;
  background-color: #fff;
}

select {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
}

.center-hack {
  text-align: center;
}

.gallery {
  margin-top: 10px;
  margin-bottom: 20px;
}

.w512 {
  width: 512px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #bfbfbf;
  }

  .navbar {
    background-color: #1a1a1a;
    border-color: #444;
  }

  .navbar-default .navbar-brand {
    color: #bfbfbf;
  }

  .navbar-default .navbar-nav > li > a {
    color: #bfbfbf;
  }

  .panel {
    border-color: #444;
  }

  .panel > .panel-heading {
    background-color: #1a1a1a;
    border-color: #444;
    color: #bfbfbf;
  }

  .panel > .panel-body {
    background-color: #222;
    color: #bfbfbf;
  }

  .page-header {
    border-bottom-color: #444;
  }

  .jumbotron {
    background-color: #1a1a1a;
    color: #bfbfbf;
  }

  img.img-thumbnail {
    border-color: #444;
    background-color: #222;
  }

  .list-group-item {
    background-color: #222;
    border-color: #444;
  }

  .list-group-item.header {
    background-color: #1a1a1a;
  }

  .table-bordered {
    border-color: #444;
  }

  th, th.name, td.value {
    background-color: #1a1a1a;
    color: #bfbfbf;
  }

  .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th {
    border-color: #444;
  }

  .btn-default {
    background-color: #333;
    color: #bfbfbf;
    border-color: #444;
  }

  .button-border {
    border-color: #444;
  }

  input[type="text"] {
    background-color: #222;
    color: #bfbfbf;
    border-color: #444;
  }

  textarea {
    background-color: #222;
    color: #bfbfbf;
    border-color: #444;
  }
}
