
.youarehere {
	padding: 0 0 5px 10px;
}

.nav-options {
	padding: 5px 15px 30px 0;
}

.nav-options ul li {
	border: 1px solid rgb(200,200,200);
}

@media (min-width: 1330px) {
	#description {
		float: right;
		width: 300px;
		margin-left: 10px;
	}
}

#description {
	background-color: #FFFFFF;
	border: 1px solid rgb(200,200,200);
	margin-bottom: 10px;
}

#description > div {
	padding: 0 10px 10px 10px;
}

#description h3 {
	padding: 10px 0 5px 0;
}

#description li {
	line-height: 1.4em;
}

#visits {
	background-color: #FFFFFF;
	border: 1px solid rgb(200,200,200);
	margin: 0;
	width: 950px;
	overflow: hidden;
}

.visit {
	clear: both;
	padding: 3px 5px;
}

.visit + .visit {
	border-top: 1px solid rgb(200,200,200);
}

#visits > .visit:last-child {
	height: 75px;
}

.visit section {
	padding: 2px;
}

.pane1 {
	float: left;
	width: 240px;
}

.pane2 {
	float: right;
	width: 690px;
}

.datum {
	margin-right: 10px;
	line-height: 1.8em;
	display: inline;
}

.ip, .time {
	font-size: 110%;
}

.label {
	font-weight: bold;
}

.after {
	clear: both;
	padding-top: 10px;
}
