[PBReader]
user=pbreader
password=
host=localhost
database=pb
[PBAdder]
user=pbadder
password=
host=localhost
database=pb
[Customizer]
user=customizer
password=
host=localhost
database=content
[Tracker]
user=tracker
password=
host=localhost
database=traffic