
#notes {
  margin-bottom: 10px;
}

.note .checkbox {
  float: left;
  width: 10px;
}

.admin {
  float: right;
  width: calc(100% - 25px);
}

.admin table {
  margin-bottom: 5px;
  width: auto;
}

pre.content {
  float: right;
  width: 100%;
  white-space: pre-wrap;
  /* Un-style the pre element. This is part of a workaround for a longstanding, not-totally-fixed
   * Firefox bug (https://bugzilla.mozilla.org/show_bug.cgi?id=116083) where setting
   * "white-space: pre-wrap" gives the right visual effect, but on copy/paste, all whitespace is
   * lost in some situations. Instead, I'm using a <pre> tag which always copies the right content,
   * and removing all the pre-specific features I don't want. Also, remove all the styling Bootstrap
   * applies to <pre>'s.
   */
  word-break: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: inherit;
  overflow: visible;
  border: none;
  padding: 0;
  margin: 0;
}

#main.view pre.content {
  width: calc(100% - 25px);
}

#confirm {
  margin-bottom: 40px;
}

#notes_container {
  margin-bottom: 30px;
}

li.modify-buttons {
  padding-bottom: 0;
}

textarea[name="content"] {
  width: 100%;
  padding: 5px 10px;
}

#main.view textarea[name="content"] {
  height: 150px;
}

#submit_note {
  padding-bottom: 40px;
}

#submit_note .panel {
  margin-bottom: 10px;
}
