body {
	background-image: url('/static/img/hg19-opacity1.png?via=css');
}

#main {
	background-color: rgb(235,235,255);
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	width: 800px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(88,88,128);
}

#title {
	font-size: 175%;
	padding: 20px;
}

h3 {
	font-size: 120%;
}

.em {
	font-style: italic;
}

.text > p {
	padding: 5px;
	text-indent: 25px;
}

.text ul {
	padding-left: 25px;
}

.text li p {
	padding: 0;
	font-size: 90%;
}

p.note {
	font-size: 85%;
	text-indent: 0;
}

section.gallery {
	margin-bottom: 10px;
}

.image.intext {
	display: block;
	margin: 10px auto 10px auto;
}

.image.w512 {
	width: 512px;
}

.image.w518 {
	width: 518px;
}

.image.genome {
	display: block;
	margin: 5px auto 30px auto;
}