{% extends 'html5boilerplate1.0.tmpl' %}
{% load staticfiles %}

{% block title %}Traffic Monitor{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'traffic/css/monitor.css' %}?via=html">
{% endblock %}


{% block content %}
		<h1 id="title">Traffic Monitor</h1>

		<section id="data">
			<header>
				<p class="youarehere">
				{% if end %}
					Visits {{ start }} to {{ end }}
				{% endif %}
				</p>
				{% if links %}
					<nav class="nav-options">
						<ul>
							{% for text, href in links %}
								<li>
									<a href="{{ href }}">{{ text }}</a>
								</li>
							{% endfor %}
						</ul>
					</nav>
				{% endif %}
			</header>

			<aside id="description">
				<div>
					<h3>What is this?</h3>
					<p>The display for the custom traffic monitoring system I wrote for my site.</p>
					<h3>Why?</h3>
					<ul>
						<li>Existing free traffic monitoring services are limited (at least, they were when I wrote this).</li>
						<li>I wanted to be able to customize it for my site.</li>
						<li>And, most importantly, I wanted to learn how they work. What's more fun than messing around with cookies, after all?</li>
					</ul>
					<h3>What does it show?</h3>
					<p>This is the list of all the visits to my site from your browser. If you were an admin, you'd see all visits from all users (or a specific user you pick).</p>
				</div>
			</aside>

			<div id="visits">
				{% for visit in visits %}
					<article class="visit">
						<section class="pane1">
							<p>
								<span class="datum ip">
									<a href="http://whatismyipaddress.com/ip/{{ visit.visitor.ip }}" rel="noreferrer" target="_blank">{{ visit.visitor.ip }}</a>
								</span>
								{% if admin %}
									<span class="datum">
										<a href="{% url 'traffic:monitor' %}?user={{ visit.visitor.user.id }}">User {{ visit.visitor.user.id }}</a>
									</span>
								{% endif %}
							</p>
							<p>
								<span class="datum time">
									{{ visit.timestamp }} UTC
								</span>
							</p>
						</section>
						<section class="pane2">
							<p>
								{% if visit.url %}
									<span class="datum">
										<span class="label">page:&nbsp;</span>
											<a href="{{ visit.url }}" target="_blank">{{ visit.url }}</a>
									</span>
								{% endif %}
								{% if visit.visitor.cookie1 is not None %}
									<span class="datum">
										<span class="label">cookie:&nbsp;</span>{{ visit.visitor.cookie1 }}
									</span>
								{% endif %}
								{% if visit.visitor.label %}
									<span class="datum">
										<span class="label">label:&nbsp;</span>{{ visit.visitor.label }}
									</span>
								{% endif %}
								{% if visit.referrer %}
									<span class="datum">
										<span class="label">referrer:&nbsp;</span>
											<a href="{{ visit.referrer }}" rel="nofollow noreferrer" target="_blank">{{ visit.referrer }}</a>
									</span>
								{% endif %}
							</p>
							<p>
								{% if visit.visitor.user_agent is not None %}
									<span class="datum">
										<span class="label">user-agent: </span>{{ visit.visitor.user_agent }}
									</span>
								{% endif %}
							</p>
						</section>
					</article>
				{% empty %}
					<article class="visit">
						<section class="pane1">
							<span class="datum">
								No visits to display!
							</span>
						</section>
					</article>
				{% endfor %}
			</div>
			{% if links %}
				<footer>
					<nav class="nav-options">
						<ul>
							{% for text, href in links %}
								<li>
									<a href="{{ href }}">{{ text }}</a>
								</li>
							{% endfor %}
						</ul>
					</nav>
				</footer>
			{% endif %}
		</section>
		{% if admin %}
			<div class="after">
				<p><a href="{% url 'misc:export' %}">Export database</a></p>
			</div>
		{% endif %}
{% endblock content %}
