/* Custom additions to the Bootstrap CSS */

.jumbotron .well h3 {
  font-size: 150%
}

.jumbotron .well p {
  font-size: 110%;
}

.jumbotron p {
  font-size: 125%;
}

#selfie {
  width: 175px;
  margin-left: 10px;
}

@media (max-width: 400px) {
  #selfie {
    float: none !important;
    display: block;
    margin: 10px auto;
  }
}

#the-net {
  text-align: right;
}

#the-net .haxxorz {
  color: #ddd;
}
