
input[type="text"].editpages-input, textarea.editpages-input {
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type="text"].editpages-input {
  width: calc(100% - 55px);
  margin-left: 5px;
}

label.editpages-title {
  width: 40px;
}

textarea.editpages-input {
  width: 100%;
}

input.btn.editpages-input {
  margin-top: 5px;
}
