<!-- based on https://getbootstrap.com/examples/navbar-static-top/ -->
<nav role="navigation" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button id="navbar-button" type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <!-- These make the lines on the hamburger button. -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">nstoler.com</a>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/notepad">Notepad</a></li>
                <li><a href="/traffic">Traffic Monitor</a></li>
                <li><a href="/wikihistory">Wikihistory</a></li>
                <li><a href="/assemblo">Assembly Game</a></li>
                <li><a href="/yourgenome">Genome Graphic</a></li>
            </ul>
        </div>
    </div>
</nav>
