<div id="brunner">
  <input type="hidden" name="jsEnabled" value="False">
  <div class="ruhuman">
    <label for="website">Site:</label>
    <input type="text" name="website">
  </div>
  <noscript>
    <div id="brunnerGridParent">
      <div class="caption">
        <p>Sorry, but to prevent spam you'll need to show you're human.</p>
        <p>You can skip this in the future by enabling JavaScript.</p>
        <p>Please check three boxes in the tic tac toe grid below to make a completed game:</p>
      </div>
      <div id="brunnerGrid">
        <div class="brunnerRow">
          <input type="checkbox" name="brunner:check1"><!--
       --><input type="checkbox" name="brunner:check2"><!--
       --><input type="checkbox" name="brunner:check3">
        </div>
        <div class="brunnerRow">
          <input type="checkbox" name="brunner:check4"><!--
       --><input type="checkbox" name="brunner:check5"><!--
       --><input type="checkbox" name="brunner:check6">
        </div>
        <div class="brunnerRow">
          <input type="checkbox" name="brunner:check7"><!--
       --><input type="checkbox" name="brunner:check8"><!--
       --><input type="checkbox" name="brunner:check9">
        </div>
      </div>
    </div>
  </noscript>
</div>