{% extends 'bootstrap.tmpl' %}
{% load staticfiles %}

{% block title %}Traffic Monitor{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'traffic/css/monitor.css' %}?via=html">
{% endblock %}


{% block content %}
    <div class="container-fluid">

      {% if links %}
        <div class="sidebar">
            <ul class="nav nav-sidebar">
              {% for text, query in links.items %}
                <li>
                  <a href="{% url 'traffic_monitor' %}{{ query }}">{{ text }}</a>
                </li>
              {% endfor %}
            </ul>
        </div>
      {% endif %}

      <section id="main" class="{% if links %}has-sidebar{% endif %}{% if admin %} admin{% endif %}">

        <h2 id="title">Traffic Monitor</h2>

        <aside id="description" class="panel">
          <div class="panel-heading">
            <h3>About</h3>
          </div>
          <div class="panel-body">
            <h4>What is this?</h4>
            <p>The display for the custom traffic monitoring system I wrote for my site.</p>
            <h4>Why?</h4>
            <ul>
              <li><span>Existing free traffic monitoring services are limited (at least, they were when I wrote this).</span></li>
              <li><span>I wanted to be able to customize it for my site.</span></li>
              <li><span>And, most importantly, I wanted to learn how they work. What's more fun than messing around with cookies, after all?</span></li>
            </ul>
            <h4>What does it show?</h4>
            <p>This is the list of all the visits to my site from your browser. If you were an admin, you'd see all visits from all users.</p>
          </div>
        </aside>

        <div id="visits">

          {% if links %}
            <nav class="buttons sidebar-replacement">
              {% for text, query in links.items %}
                <a class="btn btn-default" href="{% url 'traffic_monitor' %}{{ query }}">{{ text }}</a>
              {% endfor %}
            </nav>
          {% endif %}

          <ul id="visits-list" class="list-group">

            <li class="list-group-item header">
              <h3>Visits
                <small>
                  {% if visits.has_other_pages %}
                    {{ visits.start_index }} to {{ visits.end_index }}
                  {% endif %}
                </small>
              </h3>
            </li>

            {% for visit in visits %}
              <li class="visit list-group-item">
                <table class="pane1 table-bordered table-condensed">
                  <tr>
                    <th class="name">
                      User
                    </th>
                    <td class="value">
                      <a href="{% url 'traffic_monitor' %}?user={{ visit.visitor.user.id }}">{{ visit.visitor.user.id }}</a>
                      {% if visit.visitor.user.label %}
                        ({{ visit.visitor.user.label }})
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <th class="name">
                      IP
                    </th>
                    <td class="value ip">
                      <a href="{% url 'traffic:view_ip' visit.visitor.ip %}">{{ visit.visitor.ip }}</a>
                    </td>
                  </tr>
                  {% if visit.visitor.cookie1 %}
                    <tr>
                      <th class="name">
                        Cookie
                      </th>
                      <td class="value">
                        {{ visit.visitor.cookie1 }}
                      </td>
                    </tr>
                  {% endif %}
                  {% if visit.visitor.label %}
                    <tr>
                      <th class="name">
                        Visitor label
                      </th>
                      <td class="value">
                        {{ visit.visitor.label }}
                      </td>
                    </tr>
                  {% endif %}
                  {% if visit.visitor.user_agent %}
                  <tr class="user_agent">
                    <th class="name">
                      User Agent
                    </th>
                    <td class="value">
                      {{ visit.visitor.user_agent | truncatechars:250 }}
                      {% if admin and visit.visitor.bot_score < ua_exact_thres %}
                        <form class="inline markbot" name="markbot_ua_{{ visit.id }}" method="post" action="{% url 'traffic:markbot' %}">
                          {% csrf_token %}
                          <input type="hidden" name="user_agent" value="{{ visit.visitor.user_agent }}">
                          <input type="submit" class="btn btn-default btn-xs" value="mark bot">
                        </form>
                      {% endif %}
                    </td>
                  </tr>
                  {% endif %}
                </table>
                <table class="pane2 table-bordered table-condensed">
                  <tr>
                    <th class="name">
                      Time
                    </th>
                    <td class="value time">
                      {{ visit.timestamp }} {{ timezone }}
                    </td>
                  </tr>
                  {% if visit.scheme and visit.host and visit.path %}
                    <tr>
                      <th class="name">
                        URL
                      </th>
                      <td class="value">
                        <a href="{{ visit.url }}" target="_blank">
                          {{ visit.url | truncatechars:150 }}
                        </a>
                      </td>
                    </tr>
                  {% else %}
                    <tr>
                      <th class="name">
                        Scheme
                      </th>
                      <td class="value">
                        {{ visit.scheme }}
                      </td>
                    </tr>
                    <tr>
                      <th class="name">
                        Host
                      </th>
                      <td class="value">
                        {{ visit.host }}
                      </td>
                    </tr>
                    <tr>
                      <th class="name">
                        Path
                      </th>
                      <td class="value">
                        {{ visit.path }}
                      </td>
                    </tr>
                  {% endif %}
                  {% if visit.referrer %}
                    <tr class="referrer">
                      <th class="name">
                        Referrer
                      </th>
                      <td class="value">
                        <a href="{{ visit.referrer }}" target="_blank" rel="nofollow noreferrer">
                          {{ visit.referrer | truncatechars:150 }}
                        </a>
                        {% if admin and visit.visitor.bot_score < referrer_exact_thres %}
                          <form class="inline markbot" name="markbot_ref_{{ visit.id }}" method="post" action="{% url 'traffic:markbot' %}">
                            {% csrf_token %}
                            <input type="hidden" name="referrer" value="{{ visit.referrer }}">
                            <input type="submit" class="btn btn-default btn-xs" value="mark bot">
                          </form>
                        {% endif %}
                      </td>
                    </tr>
                  {% endif %}
                  {% if visit.visitor.bot_score != 0 %}
                    <tr>
                      <th class="name">
                        Bot Score
                      </th>
                      <td class="value">
                        {{ visit.visitor.bot_score }}
                      </td>
                    </tr>
                  {% endif %}
                  <tr>
                    <th class="name">
                      Response
                    </th>
                    <td class="value {% if visit.response is None or 400 <= visit.response and visit.response < 600 %}text-danger{% elif visit.response != 200 and visit != this_visit %}text-warning{% endif %}">
                      {% if visit == this_visit %}
                        200
                      {% else %}
                        {{ visit.response }}{% if visit.location %}: <a target="_blank" href="{{ visit.location }}">{{ visit.location }}</a>{% endif %}
                      {% endif %}
                    </td>
                  </tr>
                </table>
                <div class="clearfix"></div>
              </li>
            {% endfor %}
          </ul>

          {% if links %}
            <nav class="buttons">
              {% for text, query in links.items %}
                <a class="btn btn-default" href="{% url 'traffic_monitor' %}{{ query }}">{{ text }}</a>
              {% endfor %}
            </nav>
          {% endif %}

        </div>

        {% if admin %}
          <nav class="buttons">
            <a class="btn btn-default" href="{% url 'misc:export' %}">Export database</a>
            <form class="inline" name="markallbots" method="post" action="{% url 'traffic:markallbots' %}">
              {% csrf_token %}
              <input type="submit" class="btn btn-default" value="Mark robots">
            </form>
          </nav>
        {% endif %}

      </section>
    </div>
{% endblock content %}
