{% extends 'bootstrap.tmpl' %}
{% load staticfiles %}

{% block title %}Traffic Monitor{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'traffic/css/monitor.css' %}?via=html">
{% endblock %}


{% block content %}

      {% if links %}
        <div class="sidebar">
            <ul class="nav nav-sidebar">
              {% for text, href in links %}
                <li>
                  <a href="{{ href }}">{{ text }}</a>
                </li>
              {% endfor %}
            </ul>
        </div>
      {% endif %}

      <section id="main" {% if links %}class="has-sidebar"{% endif %}>

        <h2 id="title">Traffic Monitor</h2>

        <aside id="description" class="panel">
          <div class="panel-heading">
            <h3>About</h3>
          </div>
          <div class="panel-body">
            <h4>What is this?</h4>
            <p>The display for the custom traffic monitoring system I wrote for my site.</p>
            <h4>Why?</h4>
            <ul>
              <li><span>Existing free traffic monitoring services are limited (at least, they were when I wrote this).</span></li>
              <li><span>I wanted to be able to customize it for my site.</span></li>
              <li><span>And, most importantly, I wanted to learn how they work. What's more fun than messing around with cookies, after all?</span></li>
            </ul>
            <h4>What does it show?</h4>
            <p>This is the list of all the visits to my site from your browser. If you were an admin, you'd see all visits from all users (or a specific user you pick).</p>
          </div>
        </aside>

        <div id="visits">

          {% if links %}
            <nav class="buttons sidebar-replacement">
              {% for text, href in links %}
                <a class="btn btn-default" href="{{ href }}">{{ text }}</a>
              {% endfor %}
            </nav>
          {% endif %}

          <ul id="visits-list" class="list-group">

            <li class="list-group-item header">
              <h3>Visits
                <small>
                  {% if end %}
                    {{ start }} to {{ end }}
                  {% endif %}
                </small>
              </h3>
            </li>

            {% for visit in visits %}
              <li class="visit list-group-item">
                <table class="pane1 table-bordered table-condensed">
                  <tr>
                    <th class="name">
                      User
                    </th>
                    <td class="value">
                      <a href="/traffic/?user={{ visit.visitor.user.id }}">{{ visit.visitor.user.id }}</a>
                    </td>
                  </tr>
                  <tr>
                    <th class="name">
                      IP
                    </th>
                    <td class="value ip">
                      <a href="http://whatismyipaddress.com/ip/{{ visit.visitor.ip }}" rel="noreferrer" target="_blank">{{ visit.visitor.ip }}</a>
                    </td>
                  </tr>
                  {% if visit.visitor.cookie1 %}
                    <tr>
                      <th class="name">
                        Cookie
                      </th>
                      <td class="value">
                        {{ visit.visitor.cookie1 }}
                      </td>
                    </tr>
                  {% endif %}
                  {% if visit.visitor.label %}
                    <tr>
                      <th class="name">
                        Label
                      </th>
                      <td class="value">
                        {{ visit.visitor.label }}
                      </td>
                    </tr>
                  {% endif %}
                  <tr>
                    <th class="name">
                      User Agent
                    </th>
                    <td class="value">
                      {{ visit.visitor.user_agent }}
                    </td>
                  </tr>
                </table>
                <table class="pane2 table-bordered table-condensed">
                  <tr>
                    <th class="name">
                      Time
                    </th>
                    <td class="value time">
                      {{ visit.timestamp }} UTC
                    </td>
                  </tr>
                  <tr>
                    <th class="name">
                      URL
                    </th>
                    <td class="value">
                      <a href="{{ visit.url }}" target="_blank">
                        {{ visit.url }}
                      </a>
                    </td>
                  </tr>
                  {% if visit.referrer %}
                    <tr>
                      <th class="name">
                        Referrer
                      </th>
                      <td class="value">
                        <a href="{{ visit.referrer }}" target="_blank" rel="nofollow noreferrer">
                          {{ visit.referrer }}
                        </a>
                      </td>
                    </tr>
                  {% endif %}
                </table>
                <div class="clearfix"></div>
              </li>
            {% endfor %}
          </ul>

          {% if links %}
            <nav class="buttons sidebar-replacement">
              {% for text, href in links %}
                <a class="btn btn-default" href="{{ href }}">{{ text }}</a>
              {% endfor %}
            </nav>
          {% endif %}

        </div>

        {% if admin %}
          <nav class="buttons">
            <a class="btn btn-default" href="/misc/export">Export database</a>
          </nav>
        {% endif %}

      </section>
{% endblock content %}
