{% extends 'bootstrap.tmpl' %}
{% load static %}

{% block title %}Convert files to data: urls{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'editpages/css/dataurl.css' %}?via=html">
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <section>
        <noscript>
          <h4>Notice: Javascript is required for this page's functionality.</h4>
        </noscript>
      </section>
      <div class="form_bit">
        <label for="query">Select a file to convert.</label>
      </div>
      <div class="form_bit">
        <input type="file" id="selection"></input>
      </div>
      <div class="form_bit">
        <input type="submit" id="submit" value="Convert!">
      </div>

      <div id="result">
        <p>Result:</p>
        <textarea id="resultBox">
        </textarea>
      </div>
    </div>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'editpages/js/dataurl.js' %}?via=html"></script>
{% endblock %}
