<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}

    <meta name="author" content="Nicholas Stoler">
    <link rel="icon" href="{% static 'favicon.ico' %}?via=html">

    <title>Hack The Planet!</title>
    <link rel="stylesheet" href="{% static 'editpages/css/hax.css' %}?via=html">

    <!-- Don't worry, nothing's hacked. I just saw the movie The Net and wanted a super 90s "backdoor" of my own. -->
  </head>

  <body>

    <h1 id="title">
      You've just been caught ..in <a id="movie-title" href="https://en.wikipedia.org/wiki/The_Net_(1995_film)">The Net!</a>
    </h1>

    <div>
      <img src="/img/hax/swirling-equations.gif?via=html">
      <img src="/img/hax/equation-space.gif?via=html">
      <img src="/img/hax/hackerman.gif?via=html">
      <img src="/img/hax/green-bytes.gif?via=html">
      <img src="/img/hax/oh-no-hackers.gif?via=html">
      <img src="/img/hax/hacking-in-progress.gif?via=html">
      <img src="/img/hax/hack-the-planet.gif?via=html">
      <img src="/img/hax/id4-virus.gif?via=html">
      <img src="/img/hax/login.gif?via=html">
      <img src="/img/hax/hackers-cyberspace-large.gif?via=html">
      <img src="/img/hax/masked-haxorz.gif?via=html">
      <img src="/img/hax/matrix-rain.gif?via=html">
      <img src="/img/hax/nedry.gif?via=html">
      <img src="/img/hax/csi-next-level.gif?via=html">
      <img src="/img/hax/cybercircuits.gif?via=html">
      <img src="/img/hax/cybernets.gif?via=html">
      <img src="/img/hax/double-sunglasses.gif?via=html">
      <img src="/img/hax/hackers-crash-override.gif?via=html">
      <img src="/img/hax/hackers-cyberspace.gif?via=html">
    </div>

  <footer>
    <script src="{% static 'traffic/js/traffic.js' %}?via=html"></script>
    <script src="{% static 'js/main.js' %}?via=html"></script>
  </footer>

  </body>
</html>
