{% extends 'bootstrap.tmpl' %}
{% load staticfiles %}

{% block title %}Genome Graphic{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'editpages/css/style.css' %}?via=html">
{% endblock %}

{% block content %}
    <div class="container">
      <header>
        <h1 id="title">Genome Graphic Generator</h1>
      </header>
      <section id="abstract" class="panel">
        <div class="panel-heading">
          <h3>Summary</h3>
        </div>
        <div class="panel-body">
          <p>This is a write-up of a tool I made to represent personal genomes in a single, nice-looking graphic. It can turn any sequence into a graphic, but the focus is on representing whole genomes and the minute differences between them that make them unique. You can read the explanation below, skip to the <a href="#result">examples</a>, or to the <a href="http://toolshed.g2.bx.psu.edu/repository/display_tool?repository_id=4e3c152c0ec46a29&amp;render_repository_actions_for=tool_shed&amp;tool_config=database%2Fcommunity_files%2F000%2Frepo_895%2Fvisualize.xml&amp;changeset_revision=abed07ebeac7">tool itself</a>, now an installable <a href="https://usegalaxy.org/">Galaxy</a> tool.</p>
        </div>
      </section>
      <section id="rationale" class="panel">
        <div class="panel-heading">
          <h3>Rationale</h3>
        </div>
        <div class="panel-body">
          <p>The cost of DNA sequencing has been plummeting in the last few years. More than plummeting. It dropped through the floor, and then said a quick hello to Moore's Law as it flew straight past even <span class="em">that</span> exponential trend. The best way to emphasize this is with a chart from the NHGRI's page at <a href="http://www.genome.gov/sequencingcosts">genome.gov/sequencingcosts</a>.</p>
          <p>This looks like a logarithmic trend, but note that it's already on a logarithmic scale. Moore's Law is a straight line. And before 2007 the cost per genome was already keeping pace with it. At that point a genome would cost you 10 million dollars. But then the price went off a cliff, and within four short years it was under 10 <span class="em">thousand</span> dollars:</p>
          <div class="gallery center-hack">
            <div class="center-block">
              <a href="/img/sequencingcosts.jpg">
                <img class="img-responsive img-thumbnail w512" src="/img/sequencingcosts.jpg?via=html" alt="note the &quot;Moore's Law&quot; line."/>
              </a>
            </div>
          </div>
          <p>This means that my longtime desire to have my own genome sequenced is quickly becoming possible. And when I think about the moment I finally get my genome, I realized that what would really be nice is some way to visualize the whole thing at once. Some image that I can say is <span class="em">me</span>. That poses two problems: how do you generate some sort of graphic that both summarizes a whole genome <span class="em">and</span> retains the rare differences between it and everyone else's? With 3 billion nucleotides, obviously not all of them can be shown in a graphic that will fit in one screen. But if you squash it down to a manageable size, averaging thousands of bases into each pixel, you will inevitably get the same result for every human you run into. That's because the differences that make you unique are so rare that they're swamped by the bases common to everyone.</p>
          <p>That's why this is a difficult problem to solve. It's especially difficult to solve it in a simple way that requires no more than a single file with your genome sequence. I've taken a crack at it, and here I'm showing what I've come up with. My approach takes into account every single nucleotide, while still emphasizing the small amount of variation in every genome. Simply put, a change in any single nucleotide will produce a wildly different image. So your graphic will be uniquely yours and represent <span class="em">you</span>.</p>
        </div>
      </section>
      <section id="result" class="panel">
        <div class="panel-heading">
          <h3>The Result</h3>
        </div>
        <div class="panel-body">
          <p>Here is the product of my approach. Since I don't yet have my genome, this was produced from the standard reference genome, hg19.</p>
          <p></p>
          <div class="gallery center-hack">
            <div class="center-block">
              <a href="/img/hg19-opacity2.png">
                <img class="img-responsive img-thumbnail" src="/img/hg19-opacity2.png?via=html" alt="hg19.fa"/>
              </a>
            </div>
          </div>
          <p>I use a recursive algorithm that partitions the image into eighths, colors them, then partitions each eighth, colors those sub-partitions, then mixes them with the first level, and so on. This prevents the random noise you would get by breaking it into tiny bits and coloring each one independently. Instead, there are larger regions which maintain some continuity even though their constituent parts diverge.</p>
        </div>
      </section>
      <section id="features" class="panel">
        <div class="panel-heading">
          <h3>Features</h3>
        </div>
        <div class="panel-body">
          <p>Just to show how much the image changes with a different genome, here are two different genomes side-by-side. The first is the same as above, and the second has one chromosome replaced with a <a href="https://en.wikipedia.org/wiki/Cambridge_Reference_Sequence">version</a> that differs by only a few tiny mutations.</p>
          <div class="gallery center-hack">
            <div class="center-block">
              <a href="/img/hg19-256.png">
                <img class="img-responsive img-thumbnail" src="/img/hg19-256.png?via=html" alt="hg19.fa"/>
              </a>
              <a href="/img/hg19-rCRS-256.png">
                <img class="img-responsive img-thumbnail" src="/img/hg19-rCRS-256.png?via=html" alt="hg19.fa with the rCRS mitochondrial genome"/>
              </a>
            </div>
          </div>
          <p>And because of the recursive nature of the algorithm, the image can be generated at smaller or larger sizes and maintain the same level of detail. Here is the same genome at a number of different sizes. Note that this is not simply zoomed out. That would lose too much sharpness by averaging pixels. These are generated specially at each size, with only the necessary pixels added.</p>
          <div class="gallery center-hack">
            <div class="center-block">
              <a href="/img/hg19-256.png">
                <img class="img-responsive img-thumbnail" src="/img/hg19-256.png?via=html" alt="256x256"/>
              </a>
              <a href="/img/hg19-128.png">
                <img class="img-responsive img-thumbnail" src="/img/hg19-128.png?via=html" alt="128x128"/>
              </a>
              <a href="/img/hg19-64.png">
                <img class="img-responsive img-thumbnail" src="/img/hg19-64.png?via=html" alt="64x64"/>
              </a>
              <a href="/img/hg19-32.png">
                <img class="img-responsive img-thumbnail" src="/img/hg19-32.png?via=html" alt="32x32"/>
              </a>
              <a href="/img/hg19-16.png">
                <img class="img-responsive img-thumbnail" src="/img/hg19-16.png?via=html" alt="16x16"/>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section id="experiments" class="panel">
        <div class="panel-heading">
          <h3>Early Experiments</h3>
        </div>
        <div class="panel-body">
          <p>Because of the way the algorithm generates multiple layers which have to be mixed, an important tuning factor is the weight given to each layer. I tried several different algorithms to determine the weighting, and the result I've shown is what I thought worked the best. But here I'll show some other options I tried, some of which I think would be better in certain contexts. Feedback is definitely appreciated, since I know I don't have the most artistic eye.</p>
          <p>This version emphasizes the small details, and I think it really shows the vast amount of information I'm attempting to summarize.</p>
          <div class="gallery center-hack">
            <div class="center-block">
              <a href="/img/hg19-opacity4.png">
                <img class="img-responsive img-thumbnail" src="/img/hg19-opacity4.png?via=html" alt="hg19.fa"/>
              </a>
            </div>
          </div>
          <p>This one is on the other extreme, but it does make the pattern very clear and identifiable. It might work best for small icons.</p>
          <div class="gallery center-hack">
            <div class="center-block">
              <a href="/img/hg19-opacity1.png">
                <img class="img-responsive img-thumbnail" src="/img/hg19-opacity1.png?via=html" alt="hg19.fa"/>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
{% endblock content %}
